* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0b0b0b;
  color: #eee;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 14px;
  background: #111;
  color: #00ffd5;
}

.hero {
  text-align: center;
  padding: 30px 20px;
}

.hero h1 {
  color: orange;
}

.logo-circle {
  width: 160px;
  height: 160px;
  border: 4px solid orange;
  border-radius: 50%;
  margin: 20px auto;
  overflow: hidden;
}

.logo-circle img {
  width: 100%;
}

.card {
  background: #151515;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.btn-orange {
  background: orange;
  color: #000;
  padding: 12px;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  border: none;
  margin-top: 15px;
}

.title {
  text-align: center;
  color: #00ffd5;
  margin: 25px 0;
}

.product-card {
  background: #151515;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.product-card img {
  width: 180px;
}

select {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #00ffd5;
  border-radius: 10px;
  margin: 15px 0;
}

.cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0,0,0,.7);
}

.cart-box {
  background: #111;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.cart-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-red {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.btn-green {
  background: #00ff99;
  color: black;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}