body{
  margin:0;
  font-family:Segoe UI;
  background:#020617;
  color:white;
}

/* HERO */
.hero{
  padding:20px;
  margin:15px;
  border-radius:20px;
  background:linear-gradient(135deg,#0f172a,#1e293b);
  text-align:center;
}

.badge{
  margin-top:10px;
  background:purple;
  padding:8px;
  border-radius:20px;
}

/* REF */
.ref{
  margin:15px;
  padding:15px;
  border-radius:15px;
  background:#064e3b;
}

/* FITUR */
.title{
  margin:15px;
}

.fitur{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  padding:10px;
}

.card{
  background:#1e293b;
  padding:15px;
  border-radius:15px;
}

/* PANEL */
.panel{
  margin:15px;
  padding:15px;
  border-radius:20px;
  background:#0f172a;
}

.panel-header{
  text-align:center;
}

.pop{
  background:pink;
  padding:5px;
  border-radius:10px;
  font-size:12px;
}

/* RAM GRID */
.ram{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  margin-top:10px;
}

.ram-box{
  background:#1e293b;
  padding:15px;
  border-radius:10px;
  text-align:center;
  cursor:pointer;
}

.ram-box.active{
  background:#3b82f6;
}

/* LIST */
.list{
  font-size:14px;
}

/* BUTTON */
button{
  width:100%;
  padding:12px;
  background:linear-gradient(90deg,#3b82f6,#9333ea);
  border:none;
  border-radius:20px;
  color:white;
}

/* FORM */
.form{
  text-align:center;
  padding:10px;
}

input{
  display:block;
  margin:8px auto;
  padding:10px;
  width:200px;
}

/* TOAST */
#toast{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#22c55e;
  padding:10px;
  display:none;
}
